<div class="container">
  <div class="card mt-5">
    <div class="card-body">

      <h1 class="card-title text-center">String Calculator</h1>
      <div class="form-group">
        <input [(ngModel)]="input" placeholder="Enter numbers" class="form-control" />
      </div>
      <button (click)="calculate()" class="btn btn-primary btn-block">Add</button>
      <p *ngIf="result !== null" class="alert alert-success">Result: {{ result }}</p>
      <p *ngIf="error" class="alert alert-danger">{{ error }}</p>
    </div>
  </div>
</div>